/* 슬라이더 */
.slider {
    height: 20%;
    margin-top: -80px;
}

.slides {
    position: relative;
    padding-top: 50%;
    overflow: hidden;
}

.slider>.slides>div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    height: auto;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;

}

/* 메인  배너 contents 박스 시작 */

.slider>.slides>.contents {
    font-weight: 800;
    color: #FFF9F9;
    position: absolute;
    top: 35%;
    left: 5%;
    font-size: 4.7vw;
    white-space: nowrap;
    z-index: 30;
}

.slider>.slides>.contents1 {
    top: 50%;
    font-size: 3vw;
}

/*메인 배너 contents 박스 끝 */

/* my work 박스 시작 */
.mywork {
    text-align: center;
    margin-top: 70px;
}

.mywork > .my-text {
    font-size: 2vw;
}

.web-box {
    margin-top: 50px;
}

.web-box > .web-text {
    font-size: 1.5vw;
}

.web-box > .box {
    margin-top: 20px;
}

