.coding-top-bar {
    text-align: center;
    margin-top: 60px;
}

.coding-title{
    font-size: 2.5vw;
}

.coding-top-bar>.coding-under-line {
    border-bottom: 1px solid #afafaf;
    margin-top: 20px;
}

.coding>li {
    width: calc(100% / 5);
    padding: 0 10px;
}

@media (max-width:800px) {
    .coding>li {
        width: calc(100% / 4);
    }
}

@media (max-width:700px) {
    .coding>li {
        width: calc(100% / 3);
    }
}

@media (max-width:600px) {
    .coding>li {
        width: calc(100% / 2);
    }
}

@media (max-width:500px) {
    .coding>li {
        width: calc(100% / 1);
    }
}

.coding>li>a {
    display: block;
    padding-top: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    margin-top: 30px;
    transition: transform .03s, 3s;
}

.coding>li:hover>a {
    transform: scale(1.1);
}

.coding>li>a::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .0);
    transition: background-color .4s;
    z-index: 1;
    display: block;
}

.coding>li:hover>a::before {
    background-color: rgba(255, 255, 255, .4);
}

.coding>li {
    text-align: center;
}

.coding>li>div {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 15px;
}