@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

body,
ul,
li,
h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

label[for] {
    cursor: pointer;
    user-select: none;
}

/* 라이브러리 */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute {
    position: absolute;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-middle.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.relative {
    position: relative;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clear-both {
    clear: both;
}

.img-box>img {
    width: 100%;
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.margin-0-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.line-height-0 {
    line-height: 0;
}

.line-height-0>* {
    line-height: normal;
}

.width-30px {
    width: 30px;
}

.width-35px {
    width: 35px;
}

.width-40px {
    width: 35px;
}

.width-45px {
    width: 35px;
}

.width-50px {
    width: 50px;
}

.width-80px {
    width: 80px;
}

.width-100px {
    width: 100px;
}

.width-100p {
    width: 100%;
}

.width-60p {
    width: 60%;
}

.width-55p {
    width: 55%;
}

.width-50p {
    width: 50%;
}

.width-45p {
    width: 45%;
}

.width-40p {
    width: 40%;
}

.width-30p {
    width: 30%;
}

.width-35p {
    width: 35%;
}

.width-100p-except-30px {
    width: calc(100% - 30px);
}

.width-100p-except-35px {
    width: calc(100% - 35px);
}

.width-100p-except-40px {
    width: calc(100% - 40px);
}

.width-100p-except-50px {
    width: calc(100% - 50px);
}

.width-100p-except-80px {
    width: calc(100% - 80px);
}

.width-100p-except-100px {
    width: calc(100% - 100px);
}

.height-100p {
    height: 100%;
}

.height-50p {
    height: 50%;
}

.border-box {
    box-sizing: border-box;
}

.font-size-dot-8rem {
    font-size: 0.8rem;
}

.table-row {
    display: table;
}

.table-row.row::after {
    display: inline;
    clear: non;
}

.table-row>.cell {
    float: none;
    display: table-cell;
}

.border-red {
    border: 3px solid red;
}

/* 라이브러리 - flex */
*>.flex {
    display: flex;
}

*>.flex-column-nowrap {
    display: flex;
    flex-flow: column nowrap;
}

*>.flex-grow-1 {
    flex-grow: 1;
}

*>.flex-jc-end {
    display: flex;
    justify-content: flex-end;
}

*>.flex-jc-start {
    display: flex;
    justify-content: flex-start;
}

*>.flex-jc-c {
    display: flex;
    justify-content: center;
}

*>.flex-jc-sb {
    display: flex;
    justify-content: space-between;
}

*>.flex-jc-sa {
    display: flex;
    justify-content: space-around;
}

*>.flex-ai-c {
    display: flex;
    align-items: center;
}

*>.flex-ai-end {
    display: flex;
    align-items: flex-end;
}

*>.flex-as-c {
    align-self: center;
}

*>.flex-row-nowrap {
    flex-direction: row;
    flex-wrap: nowrap;
}

*>.flex-row-wrap {
    flex-direction: row;
    flex-wrap: wrap;
}

*>.flex-ch-basis-0 {
    display: flex;
}

.flex-ch-basis-0>* {
    flex-basis: 0;
}

*>.flex-1-0-0 {
    flex: 1 0 0;
}

/* 커스텀 */
body {
    background: #fafafa;
    min-width: 1600px;
}

.con {
    width: 1400px;
}

.con-min-width {
    min-width: 1500px;
}

.top-bar {
    height: 100px;
    z-index: 100;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.top-bar>.logo {
    margin: 10px 0 0 90px;
}


.top-bar>.menu-box>ul>li {
    padding: 20px 30px;
    white-space: nowrap;
}

.top-bar>.menu-box>ul>li:last-child {
    margin-right: 50px;
}

.top-bar>.menu-box>ul>li>a {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
}

.main-bg {
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
}

.main-bg>.slider-div {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.main-bg .slider-div div {
    width: 100%;
    height: 100%;
    position: relative;
}

.main-bg .bn1 {
    background: url(https://wjdtjdbsdlwldb.github.io/img1/blog/article/mirun/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.main-bg .bn2 {
    background: url(https://wjdtjdbsdlwldb.github.io/img1/blog/article/mirun/bg-5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.main-bg .bn3 {
    background: url(https://wjdtjdbsdlwldb.github.io/img1/blog/article/mirun/bn-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.main-bg .bn>p {
    font-size: 58px;
    color: #fff;
    z-index: 1;
    font-weight: 700;
    position: absolute;
    bottom: 250px;
    right: 80px;
    font-style: italic;
}

/* 2 페이지 - 배경 */

.page-2 {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: relative;
}

.page-2>.white {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 30%;
    z-index: -1;
}

.page-2>.white-bg {
    width: 1600px;
    margin: 0 auto;
    margin-top: 100px;
    /* overflow: hidden; */
}

/* 2페이지 - 타이틀  */

.page-2>.white-bg>.text-box {
    display: inline-block;
    margin-left: 150px;
    text-align: center;
    margin-top: -100px;
}

.page-2>.white-bg>.text-box>h2 {
    font-size: 55px;
    font-weight: 700;
    font-style: italic;
}

.page-2>.white-bg>.text-box>p {
    display: inline-block;
    font-weight: bold;
    font-size: 19px;
}

/* 2페이지  - 아이콘박스 */

.page-2>.white-bg>.icon-box {
    text-align: center;
    margin-top: 50px;
}

.page-2>.white-bg>.icon-box>ul {
    width: 1600px;
    margin: 0 auto;
}

.page-2>.white-bg>.icon-box>ul>li {
    width: calc(100% / 3);
    padding: 100px 10px;
    white-space: nowrap;
}

.page-2 .icon-box>ul span>h3 {
    font-weight: 700;
    font-size: 30px;
    padding: 30px 0 20px 0;
}

.page-2 .icon-box>ul span>p {
    font-weight: bold;
    font-size: 16px;
}

.page-2 .icon-box>ul span>a:hover>p {
    color: #fafafa;
}

.page-2 .icon-box>ul span>a {
    border: 2px solid;
    border-image: repeating-linear-gradient(60deg, #f33, rgb(255, 47, 186), rgb(39, 15, 255)) 1;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: relative;
    padding: 0 45px;
    transform: skewX(-24deg);
    margin-top: 50px;
    box-sizing: border-box;
    overflow: hidden;
}

.page-2 .icon-box>ul span>a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(255, 0, 0, 0.808)), color-stop(1, rgba(0, 4, 255, 0.836)));
    background: -moz-linear-gradient(left top, red, rgba(255, 0, 255, 0.863), blue);
    transform: translateX(-100%);
    transition: transform .2s ease-in-out;
    z-index: -5;
}

.page-2 .icon-box>ul span>a:hover::after {
    transform: translateX(0);
}

.page-2 .icon-box>ul span>a>p {
    font-weight: bold;
    font-size: 18px;
    transform: skewX(24deg);
}

/* 2페이지 이미지 */

.page-2 .woman>.img-box {
    width: 650px;
    height: 650px;
    margin-left: auto;
    position: relative;
}

.page-2 .woman>.img-box>img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -50%;
    left: 15%;
}

/* 3페이지 */
.page-3 {
    width: 100%;
    height: 100%;
    position: relative;
}

.page-3>.sub-bn {
    margin-top: -500px;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: #fafafa;
    z-index: -3;
}

.page-3>.sub-bn>.sub-text {
    color: #fafafa;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    text-align: center;
    white-space: nowrap;
}

.page-3>.sub-bn>.sub-text>h2 {
    font-size: 40px;
    font-style: italic;
    margin-top: 50px;
}

.page-3>.sub-bn>.sub-text>span {
    font-size: 20px;
    font-weight: bold;
}

.page-3>.sub-bn>.sub-text>p {
    margin-top: 50px;
    line-height: 25px;
}

.page-3>.white2 {
    position: absolute;
    top: -25%;
    left: 0;
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom top;
}

.page-3>.under-2 {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    position: absolute;
    left: 0;
    top: 65%;
    z-index: -1;
}

/* 4 페이지 */

.page-4 {
    width: 1600px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.page-4>.tit4 {
    text-align: right;
}

.page-4>.tit4>h3 {
    font-size: 55px;
    font-style: italic;
}

.page-4>.tit4>p {
    font-size: 19px;
    font-weight: bold;
    margin-right: 28px;
}

.page-4>.content {
    margin: 150px 0 0 270px;
}

.page-4>.content>ul {
    width: calc(100% /2);
}

.page-4>.content>ul:last-child {
    margin-left: 100px;
}

.page-4>.content>ul>li {
    font-size: 18px;
    font-weight: bold;
    padding: 20px 0;
}

.page-4>.content>ul>li>span {
    font-weight: normal;
    margin-left: 100px;
}

/* 4페이지 - 텍스트 */
.page-4>.video-text {
    width: 100%;
    height: 100vh;
    position: relative;
}

.page-4>.video-text>.vid-txt {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    display: inline-block;
    text-align: left;
    z-index: 5;

}

.page-4>.video-text>.vid-txt>h1 {
    font-size: 55px;
    font-weight: bold;
    text-shadow: 4px 0 2px #fafafa;
}

.page-4>.video-text>.vid-txt>p {
    font-size: 25px;
    font-weight: bold;
    margin-top: 35px;
}

/* 4 페이지 - 비디오 박스 */

.page-4 .video-box {
    position: relative;
}

.page-4 .video-box>.som {
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    height: 550px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 35%;
    z-index: 1;
}

.page-4 .video-box>.som::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: -1;
}

.page-4 .video-box>.som>.bottom {
    margin: 200px auto;
}

.page-4 .video-box {
    width: 100%;
}

.page-4 .video-box>div>video {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateY(-50%);
}

/* 5 페이지 */
.page-5 {
    width: 100%;
    height: 700px;
    position: relative;
}

.page-5>.under-last {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -45%;
    /* background-position: top 50%; */
}

/* 5페이지 -마이런 서울 텍스트이미지 */

.page-5>.mirun>img {
    margin-top: 80px;
    margin-left: -30px;
    width: 100%;
    height: 100%;
}

/* 5 페이지 타이틀 */

.page-5>.tit5 {
    margin-top: 150px;
    text-align: center;
}

.page-5>.tit5>h2 {
    font-size: 55px;
    font-style: italic;
}

.page-5>.tit5>p {
    font-size: 18px;
    font-weight: bold;
}

/* 5 페이지 -슬라이더 */

.mini-slider .item {
    height: 500px;
    width: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 150px;
}

/*  푸터 */
.footer {
    width: 100%;
    height: 300px;
    margin-top: 150px;
    white-space: nowrap;
}

.footer>.ft-bg {
    width: 100%;
    height: 100%;
    background-color: #2b2b2b;
    color: #fafafa;
}

.footer>.ft-bg>.spon {
    position: relative;
}

.footer>.ft-bg>.spon>ul {
    width: 100%;
    margin: 50px auto 0 auto;
}

.footer>.ft-bg>.spon>ul>li {
    margin-left: 10px;
}

.footer>.ft-bg>.spon>ul>li>a {
    font-size: 28px;
    font-weight: bold;
    padding: 15px 40px;
}

.footer>.ft-bg>.spon>ul ul>li>a {
    font-size: 20px;
    padding: 15px 50px;
}

.footer>.ft-bg>.spon>.map>li>a {
    font-size: 20px;
    font-weight: normal;
    padding: 15px 40px;
    display: block;
}

.footer>.ft-bg>.spon>.map>li:last-child>a {
    margin-right: 20px;
}

.footer>.ft-bg>.spon>.map>li:nth-child(2)>a {
    font-weight: bold;
}

.footer>.ft-bg>.spon::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fafafa4d;
    width: 95%;
    height: 1px;
}

.footer>.ft-bg>.footer-logo {
    margin: 60px auto 0 50px;
}

.footer>.ft-bg>.footer-logo>.ft-logo {
    width: 130px;
}

.footer>.ft-bg>.footer-logo>.ft-logo>img {
    width: 100%;
}

.footer>.ft-bg>.footer-logo >.copy {
    margin: 10px 0 0 80px;
    line-height: 30px;
}


.footer>.ft-bg>.footer-logo >.copy >address{
    font-style: normal;
}


/*  푸터 - sns  */

.footer>.ft-bg .sns > div  {
    width: 50px;
    height: 50px;
    margin: 0 10px;
}


.footer>.ft-bg .sns > div  img {
    width:100%;
    height: 100%;
}

.footer>.ft-bg .sns > div >a {
    position: relative;
}

.footer>.ft-bg .sns > div:last-child {
    margin-right: 60px;
}


