@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Oswald:wght@300;400;500;600;700&display=swap');

html {
    font-family: 'Oswald', 'Nanum Gothic', sans-serif;
}

body,
ul,
li,
h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

label[for] {
    cursor: pointer;
    user-select: none;
}

/* 라이브러리 */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute {
    position: absolute;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-middle.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.relative {
    position: relative;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clear-both {
    clear: both;
}

.img-box>img {
    width: 100%;
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.margin-0-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.line-height-0 {
    line-height: 0;
}

.line-height-0>* {
    line-height: normal;
}

.width-30px {
    width: 30px;
}

.width-35px {
    width: 35px;
}

.width-40px {
    width: 35px;
}

.width-45px {
    width: 35px;
}

.width-50px {
    width: 50px;
}

.width-80px {
    width: 80px;
}

.width-100px {
    width: 100px;
}

.width-100p {
    width: 100%;
}

.width-60p {
    width: 60%;
}

.width-55p {
    width: 55%;
}

.width-50p {
    width: 50%;
}

.width-45p {
    width: 45%;
}

.width-40p {
    width: 40%;
}

.width-30p {
    width: 30%;
}

.width-35p {
    width: 35%;
}

.width-100p-except-30px {
    width: calc(100% - 30px);
}

.width-100p-except-35px {
    width: calc(100% - 35px);
}

.width-100p-except-40px {
    width: calc(100% - 40px);
}

.width-100p-except-50px {
    width: calc(100% - 50px);
}

.width-100p-except-80px {
    width: calc(100% - 80px);
}

.width-100p-except-100px {
    width: calc(100% - 100px);
}

.height-100p {
    height: 100%;
}

.height-50p {
    height: 50%;
}

.border-box {
    box-sizing: border-box;
}

.font-size-dot-8rem {
    font-size: 0.8rem;
}

.table-row {
    display: table;
}

.table-row.row::after {
    display: inline;
    clear: non;
}

.table-row>.cell {
    float: none;
    display: table-cell;
}

.border-red {
    border: 3px solid red;
}

/* 라이브러리 - flex */
*>.flex {
    display: flex;
}

*>.flex-column-nowrap {
    display: flex;
    flex-flow: column nowrap;
}

*>.flex-grow-1 {
    flex-grow: 1;
}

*>.flex-jc-end {
    display: flex;
    justify-content: flex-end;
}

*>.flex-jc-start {
    display: flex;
    justify-content: flex-start;
}

*>.flex-jc-c {
    display: flex;
    justify-content: center;
}

*>.flex-jc-sb {
    display: flex;
    justify-content: space-between;
}

*>.flex-jc-sa {
    display: flex;
    justify-content: space-around;
}

*>.flex-ai-c {
    display: flex;
    align-items: center;
}

*>.flex-ai-end {
    display: flex;
    align-items: flex-end;
}

*>.flex-as-c {
    align-self: center;
}

*>.flex-row-nowrap {
    flex-direction: row;
    flex-wrap: nowrap;
}

*>.flex-row-wrap {
    flex-direction: row;
    flex-wrap: wrap;
}

*>.flex-ch-basis-0 {
    display: flex;
}

.flex-ch-basis-0>* {
    flex-basis: 0;
}

*>.flex-1-0-0 {
    flex: 1 0 0;
}

/* 커스텀 */

.con {
    width: 1700px;
}

.con-min-width {
    min-width: 1600px;
}

/* 페이지 1 - 백그라운드 */
.page-1 {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #1253C6;
}

/* 라인 1 */
.page-1 .line {
    position: absolute;
    max-width: 1600px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.page-1 .line .white-line {
    position: absolute;
    max-width: 1292px;
    width: 100%;
}

.page-1 .line .white-line svg {
    display: block;
    width: 100%;
}

.page-1 .line .white-line svg .path {
    stroke-dasharray: 2221;
    stroke-dashoffset: 0;
    animation: dash 4s linear forwards;
}

.page-1 .line .line-1 {
    left: 0;
    bottom: 0;
}

.page-1 .line .line-2 {
    top: 0;
    right: 0;
    transform: scale(-1);
}

@keyframes dash {
    0% {
        stroke-dashoffset: 2221;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

/* 텍스트  */
.main>.page-1>.txt-box {

}


.main>.page-1>.txt-box > .tit {
    color: #fff;
    padding: 250px 0 0 500px;
}

.main>.page-1>.txt-box > .tit > h1 {
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    font-size: 200px;
}
