@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Nanum+Gothic&family=Open+Sans&family=Prata&display=swap');

html {
    font-family: 'Malgun Gothic', 'Abril Fatface', 'Open Sans', 'Prata', 'Nanum Gothic', cursive, sans-serif, serif;
}

body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
    list-style: none;
}


a {
    color: inherit;
    text-decoration: none;
}

label[for] {
    cursor: pointer;
    user-select: none;
}

/* 라이브러리 */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute {
    position: absolute;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-middle.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.relative {
    position: relative;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clear-both {
    clear: both;
}

.img-box>img {
    width: 100%;
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.margin-0-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.line-height-0 {
    line-height: 0;
}

.line-height-0>* {
    line-height: normal;
}

.width-30px {
    width: 30px;
}

.width-35px {
    width: 35px;
}

.width-40px {
    width: 35px;
}

.width-45px {
    width: 35px;
}

.width-50px {
    width: 50px;
}

.width-80px {
    width: 80px;
}

.width-100px {
    width: 100px;
}

.width-100p {
    width: 100%;
}

.width-60p {
    width: 60%;
}

.width-55p {
    width: 55%;
}

.width-50p {
    width: 50%;
}

.width-45p {
    width: 45%;
}

.width-40p {
    width: 40%;
}

.width-30p {
    width: 30%;
}

.width-35p {
    width: 35%;
}

.width-100p-except-30px {
    width: calc(100% - 30px);
}

.width-100p-except-35px {
    width: calc(100% - 35px);
}

.width-100p-except-40px {
    width: calc(100% - 40px);
}

.width-100p-except-50px {
    width: calc(100% - 50px);
}

.width-100p-except-80px {
    width: calc(100% - 80px);
}

.width-100p-except-100px {
    width: calc(100% - 100px);
}

.height-100p {
    height: 100%;
}

.height-50p {
    height: 50%;
}

.border-box {
    box-sizing: border-box;
}

.font-size-dot-8rem {
    font-size: 0.8rem;
}

.table-row {
    display: table;
}

.table-row.row::after {
    display: inline;
    clear: non;
}

.table-row>.cell {
    float: none;
    display: table-cell;
}

.border-red {
    border: 3px solid red;
}

.border-blue {
    border: 3px solid blue;
}

.blod {
    font-weight: bold;
}

/* 라이브러리 - flex */
*>.flex {
    display: flex;
}

*>.flex-column-nowrap {
    display: flex;
    flex-flow: column nowrap;
}

*>.flex-grow-1 {
    flex-grow: 1;
}

*>.flex-jc-end {
    display: flex;
    justify-content: flex-end;
}

*>.flex-jc-start {
    display: flex;
    justify-content: flex-start;
}

*>.flex-jc-c {
    display: flex;
    justify-content: center;
}

*>.flex-jc-sb {
    display: flex;
    justify-content: space-between;
}

*>.flex-jc-sa {
    display: flex;
    justify-content: space-around;
}

*>.flex-ai-c {
    display: flex;
    align-items: center;
}

*>.flex-ai-end {
    display: flex;
    align-items: flex-end;
}

*>.flex-as-c {
    align-self: center;
}

*>.flex-row-nowrap {
    flex-direction: row;
    flex-wrap: nowrap;
}

*>.flex-row-wrap {
    flex-direction: row;
    flex-wrap: wrap;
}

*>.flex-ch-basis-0 {
    display: flex;
}

.flex-ch-basis-0>* {
    flex-basis: 0;
}

*>.flex-1-0-0 {
    flex: 1 0 0;
}

/* 커스텀 */

.con-min-width {
    min-width: 1400px;
}

.main>.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1237px;
    z-index: 100;
}

.main>.header>.top-bar {
    position: relative;
    width: 100%;
    height: 65px;
    z-index: 10;
    background: transparent;
}


.main>.header>.top-bar>.logo>a {
    background: url(https://wjdtjdbsdlwldb.github.io/img1/blog/article/si/logo.png) no-repeat left -50px;
    width: 325px;
    height: 25px;
    display: inline-block;
    text-indent: -9999em;
    overflow: hidden;
    margin-left: 30px;
}

/* lan 박스 */

.main>.header>.top-bar>.lan-box {
    font-size: 14px;
    margin-right: 20px;
    color: #fff;
    white-space: nowrap;
}


.main>.header>.top-bar>.lan-box>li {
    padding: 0 20px;
}

.main>.header>.top-bar>.lan-box>.si {
    position: relative;
}

.main>.header>.top-bar>.lan-box>.si>a {
    font-family: 'Nanum Gothic';
}

.main>.header>.top-bar>.lan-box>.lan>a {
    font-family: 'Prata', serif;
}


.main>.header>.top-bar>.lan-box>.si::after {
    content: '';
    background: url(https://wjdtjdbsdlwldb.github.io/img1/blog/article/si/btn_icoArr.png) no-repeat;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    right: 0;
    width: 13px;
    height: 13px;
}

.main>.header>.top-bar>.lan-box>.lan {
    position: relative;
}

.main>.header>.top-bar>.lan-box>.lan::after {
    position: absolute;
    content: '▼';
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    font-size: 9px;
}

.main>.header>.top-bar>.lan-box>.lan.active::after {
    content: '▲';
}

/* lan 2차메뉴 */
.main>.header>.top-bar>.lan-box>.lan>ul {
    font-size: 11px;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    text-align: center;
    background: #fff;
    color: #999999;
    border: 1px solid #e5e5e5;
    font-family: 'Open Sans', 'Nanum Gothic';
    padding-top: -20px;
    height: 0;
    opacity: 0;
    transition: padding-top .2s, opacity .2s, height .2s;
}

.main>.header>.top-bar>.lan-box>.lan.active>ul {
    padding-top: 7px;
    opacity: 1;
    height: 90px;
    transition: padding-top .2s, opacity .2s, height .2s;

}

.main>.header>.top-bar>.lan-box>.lan>ul>li:nth-child(2n+1) {
    margin: 10px;
}

.main>.header>.top-bar>.lan-box>.lan.active>ul>li:first-child>a {
    text-decoration: underline;
    color: #212121;
}


.main>.header>.top-bar>.lan-box>.lan.active>ul>li:hover>a {
    text-decoration: underline;
    color: #212121;
}

/* 메뉴 박스 */
.main>.header>.menu-box {
    display: inline-block;
    position: fixed;
    top: 100px;
    left: 30px;
}

.main>.header>.menu-box>ul>li {
    overflow: hidden;
}

.main>.header>.menu-box>ul>li>a {
    font-family: 'Prata', serif;
    font-size: 14px;
    line-height: 2.2;
    display: block;
    color: #fff;
}


.main>.header>.menu-box>ul ul>li>a {
    font-size: 11px;
    color: #fff;
    font-family: 'Nanum Gothic', sans-serif;
}

.main>.header>.menu-box>ul ul>li:hover>a {
    text-decoration: underline;
}

.main>.header>.menu-box>ul>li>ul {
    transition: height 0.3s;
}

.main>.header>.menu-box>ul>li>ul>li:first-child {
    padding-top: 12px;
}

.main>.header>.menu-box>ul>li>ul>li:last-child {
    padding-bottom: 30px;
}

/* 배너 슬라이더 */

.slider-k {
    position: relative;
    user-select: none;
}

.slider-k .side-btns>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    cursor: pointer;
}

.slider-k .side-btns>div>span {
    opacity: .6;
}

.slider-k .side-btns>div>span:hover {
    opacity: 1;
}

.slider-k .side-btns>div:active>span {
    transform: translateY(-45%);
}

.slider-k .side-btns>div:last-child {
    left: auto;
    right: 0;
}

.slider-k .side-btns>div>span {
    font-size: 4rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: inherit;
    right: inherit;
    margin: 0 10px;
    transition: transform 0.2s;
}

.slider-k .side-btns>div>.prev {
    left: 210px;
}

.slider-k .side-btns>div>.next {
    right: 210px;
}

.slider-k.height-full {
    height: 100vh;
}

.slider-k .slides>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s, visibility 1s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
}

.slider-k .slides>div::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .15);
    z-index: 1;
}

.slider-k .slides>div.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s, visibility 1s;
}

.slider-k .page-nav {
    position: absolute;
    bottom: 4%;
    left: 0;
    width: 100%;
    text-align: center;
}

.slider-k .page-nav>div {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.4;
    transition: opacity 0.5s;
    margin: 0 5px;
    cursor: pointer;
}

.slider-k .page-nav>div:hover {
    opacity: 0.7;
}

.slider-k .page-nav>div.active {
    opacity: 1;
}

/* 슬라이드 텍스트 */

.slider-k .slides>div>.text-box {
    position: absolute;
    top: 60%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    text-align: center;
    z-index: 2;
    color: #fff;
    opacity: 0;
    transition: opacity 2s, top 2s;
}

.slider-k .slides>div.active>.text-box {
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    opacity: 1;
    transition: opacity 2s, top 2s;
}


.slider-k .slides>div>.text-box>ul>li>a>h3 {
    font-size: 65px;
    font-family: 'Prata', serif;
    margin: 0;
    font-weight: 400;
}

.slider-k .slides>div>.text-box>ul>li>a>h3::after {
    content: '';
    display: block;
    margin: 13px auto 0;
    width: 30px;
    height: 2px;
    background-color: #fff;
}


.slider-k .slides>div>.text-box>ul>li>.sub-txt {
    font-size: 18px;
    letter-spacing: .2em;
    line-height: 28px;
    margin-top: 20px;
    display: block;
}

.slider-k .slides>div>.text-box>ul>li>.last-txt {
    display: block;
    font-size: 14px;
    /* white-space: pre-line;
     */
}

/* 1페이지 끝  */


/* 2 페이지 - 탑바 색상변경 */

.fp-viewing-1 .main>.header>.top-bar>.lan-box {
    color: black;
}

/* 2페이지 - 슬라이드 */

/* 캐러셀 1 */

.slide2 {
    width: 50%;

}

.carousel-1>.owl-carousel {
    position: relative;
}

.carousel-1>.owl-carousel>.owl-stage-outer>.owl-stage>.owl-item {
    height: 100vh;
    width: 100%;
}

.carousel-1>.owl-carousel>.owl-stage-outer>.owl-stage>.owl-item>.item {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-1>.owl-carousel>.owl-stage-outer>.owl-stage>.owl-item .item>div {
    opacity: .2;
    transition: opacity .3s;
    overflow: hidden;
}

.carousel-1>.owl-carousel>.owl-stage-outer>.owl-stage>.owl-item.active .item>div {
    opacity: 1;
    overflow: hidden;
}

/* 2페이지 - 슬라이드 버튼  */

.carousel-1>.owl-carousel>.owl-nav {
    margin: 0 !important;

}

.carousel-1>.owl-carousel>.owl-nav>button {
    opacity: .6;
}

.carousel-1>.owl-carousel>.owl-nav>button:hover {
    background: transparent;
    opacity: 1;
}

.carousel-1>.owl-carousel>.owl-nav>.owl-prev {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    outline: 0 !important;
}

.carousel-1>.owl-carousel>.owl-nav>.owl-next {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    outline: 0 !important;
}

/* 2페이지 - 텍스트 */

.carousel-1>.owl-carousel .item .txt-box,
.carousel-1>.owl-carousel .item .txt-box1 {
    width: 410px;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translateX(-50%)translateY(-38%);
}

.carousel-1>.owl-carousel .item .txt-box1 {
    top: 60%;
    left: 50%;
    transform: translateX(-50%)translateY(-60%);
}

.carousel-1>.owl-carousel .item .txt-box h3 {
    font-weight: 400;
    text-transform: uppercase;
    line-height: 0.9;
    font-size: 24px;
}

.carousel-1>.owl-carousel .item .txt-box p {
    color: #212121;
    font-size: 16px;
    padding-top: 20px;
}

.carousel-1>.owl-carousel .item .txt-box1>div {
    padding-top: 26px;
    font-size: 12px;
    color: #666666;
    line-height: 1.7;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical !important;
    position: relative;
}

.carousel-1>.owl-carousel .item .txt-box1 div::before {
    content: "";
    width: 15px;
    height: 1px;
    background-color: #66666644;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

}

.carousel-1>.owl-carousel .item .txt-box1>a {
    font-size: 12px;
    color: #666666;
    padding-top: 30px;
    letter-spacing: -1;
    display: block;
}

.carousel-1>.owl-carousel>.owl-dots {
    padding: 0;
    margin: 20px 0 0 0;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
}

.owl-theme .owl-dots .owl-dot.active {
    outline: 0 !important;
}

.owl-theme .owl-dots .owl-dot span {
    width: 8px !important;
    height: 8px !important;
}

.owl-theme .owl-dots .owl-dot.active>span {
    background-color: #212121 !important;
    width: 8px;
    height: 8px;
}

/* 캐러셀 2 */
.carousel-2>.owl-carousel>.owl-stage-outer>.owl-stage>.owl-item>.item {
    height: 100vh;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
}

.carousel-2>.owl-carousel>.owl-stage-outer>.owl-stage>.owl-item>.item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.15);
    z-index: 10;

}

.carousel-2>.owl-carousel>.owl-nav {
    margin: 0 !important;
}

.carousel-2>.owl-carousel>.owl-nav>div {
    padding: 0;
    margin: 0 20px;
    border-radius: 0;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 4rem;
}

.carousel-2>.owl-carousel>.owl-nav>div.owl-next {
    left: auto;
    right: 0;
}

.carousel-2>.owl-carousel>.owl-dots {
    padding: 0;
    margin: 20px 0 0 0;
}

/* 2페이지 끝 */
.section3 {
    position: relative;
}

.section3>.page-3 {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    z-index: 10;
}

.section3>.page-3>.bg-3 {
    background-color: #fff;
    width: 680px;
    height: 390px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 60px 55px;
}

.section3>.page-3>.bg-3>.tit-box>h3 {
    font-size: 23px;
    font-family: 'Prata', serif;
    font-weight: 300;
}

.section3>.page-3>.bg-3>.tit-box>p {
    font-size: 12px;
    color: #666666;
    line-height: 23px;
    padding-top: 18px;
}

.section3>.page-3>.bg-3>.tit-box>a {
    display: block;
    font-size: 12px;
    color: #666666;
    padding-top: 20px;
}

/* 3페이지 - 텍스트 이미지 */

.section3>.page-3>.bg-3>.img-box {
    margin: 0 auto;
    display: inline-block;
    margin-top: 30px;
}

/* 3페이지 끝 */


/* 4페이지 - 이미지 박스 */

.section4 {
    position: relative;
}

.section4>.page-4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1500px;
}

.section4>.page-4>ul>li>a {
    display: block;
    padding: 0 10px;
}

/* 4페이지 끝 */

/* 푸터 */

.section5 {
    height: 41px !important;
    min-height: 40px;
}

.section5>.footer {
    height: 41px;
    min-height: 40px;
}

/* 푸터 -카피라이터 */
.section5>.footer>.copy {
    font-size: 11px;
    color: #666666;
    margin-left: 10px;

}

/* 푸터 - 인포메이션박스 */

.section5>.footer>.footer-infor {
    font-size: 11px;
    color: #666666;
    white-space: nowrap;
}

.section5>.footer>.footer-infor>ul>li {
    position: relative;
}

.section5>.footer>.footer-infor>ul>li>a {
    display: block;
    padding: 0 10px;
}

.section5>.footer>.footer-infor>ul>.pri>a {
    font-weight: 600;
}

.section5>.footer>.footer-infor>ul>li::after {
    content: "";
    width: 1px;
    height: 10px;
    background-color: rgba(184, 184, 184, 0.3);
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
}

.section5>.footer>.footer-infor>ul>li:first-child::after {
    display: none;
}

/* 푸터 -2차메뉴 */

.section5>.footer>.footer-infor>.family>li {
    position: relative;
    border:1px solid #dfdfdf5d;
    padding-right: 8px;
}

.section5>.footer>.footer-infor>.family ul {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
}

.section5>.footer>.footer-infor>.family>li>a {
    padding:11px 110px 11px 15px;
    display: block;
    position: relative;
}

.section5>.footer>.footer-infor>.family>li>a::after {
    content: "▼";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translatey(-50%);
    display: block;
    color: #999999;
}

.section5>.footer>.footer-infor>.family>li:hover>a::after{
    content: "▲";
    color: #2b2b2b;
}

.section5>.footer>.footer-infor>.family>li:hover>ul {
    display: block;
}

.section5>.footer>.footer-infor>.family>li>ul>li>a {
    display: block;
    padding: 5px 15px;
}

.section5>.footer>.footer-infor>.family>li>ul>li:hover {
    text-decoration: underline;
}

.section5>.footer>.footer-infor>.family>li>ul>li:nth-child(15n){
    padding-bottom:15px;
}

.section5>.footer>.footer-infor>.family>li>ul>li:nth-child(2) {
    padding-top:15px;
}

.section5>.footer>.footer-infor>.family ul>li:nth-child(15n+1) {
    position: relative;
}

.section5>.footer>.footer-infor>.family ul>li:nth-child(15n+1)::before,.section5>.footer>.footer-infor>.family ul>li:nth-child(15n+1)::after {
    content: "";
    position: absolute;
    top:100%;
    left: 5%;
    right: 5%;
    width:90%;
    height: 1px;
    background-color: #dfdfdf5d;
}

.section5>.footer>.footer-infor>.family ul>li:nth-child(15n+1)::after {
    top:0;
}

.section5>.footer>.footer-infor>.family ul>li:nth-child(16)::before {
    display: none;
}

.section5>.footer>.footer-infor>.family ul>li:nth-child(15n+1)>a {
    padding: 22px 15px;
}


/* 푸터 -sns  */

.section5>.footer > .footer-infor > .sns {
    margin: 5px 0 0 5px;
} 

.section5>.footer > .footer-infor > .sns > a > img {
    opacity: .5;
}

.section5>.footer > .footer-infor > .sns:hover > a > img {
    opacity: 1;
}