
@font-face {
    font-family: 'JSDongkang-Regular';
    src: url('/portfolio2/font/JSDongkang-Regular.ttf') format('truetype');
}

.JSDongkang-Regular {
    font-family: 'JSDongkang-Regular';
}


@font-face {
    font-family: 'payboocBold';
    src: url('/portfolio2/font/payboocBold.ttf') format('truetype');
}

.payboocBold {
    font-family: 'payboocBold';
}

@font-face {
    font-family: 'payboocExtraBold';
    src: url('/portfolio2/font/payboocExtraBold.ttf') format('truetype');
}

.payboocExtraBold {
    font-family: 'payboocExtraBold';
}

@font-face {
    font-family: 'payboocLight';
    src: url('/portfolio2/font/payboocLight.ttf') format('truetype');
}

.payboocLight {
    font-family: 'payboocLight';
}

@font-face {
    font-family: 'payboocMedium';
    src: url('/portfolio2/font/payboocMedium.ttf') format('truetype');
}

.payboocMedium {
    font-family: 'payboocMedium';
}