@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=PT+Sans&display=swap');

html {
    /*   font-family:'PT Sans', 'Nanum Gothic', sans-serif; */
    font-family: 'NanumBarunGothic', 'dotum';

}

body,
ul,
li,
h1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

label[for] {
    cursor: pointer;
    user-select: none;
}

/* 라이브러리 */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute {
    position: absolute;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-middle.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.relative {
    position: relative;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clear-both {
    clear: both;
}

.img-box>img {
    width: 100%;
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.margin-0-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.line-height-0 {
    line-height: 0;
}

.line-height-0>* {
    line-height: normal;
}

.width-30px {
    width: 30px;
}

.width-35px {
    width: 35px;
}

.width-40px {
    width: 35px;
}

.width-45px {
    width: 35px;
}

.width-50px {
    width: 50px;
}

.width-80px {
    width: 80px;
}

.width-100px {
    width: 100px;
}

.width-100p {
    width: 100%;
}

.width-60p {
    width: 60%;
}

.width-55p {
    width: 55%;
}

.width-50p {
    width: 50%;
}

.width-45p {
    width: 45%;
}

.width-40p {
    width: 40%;
}

.width-30p {
    width: 30%;
}

.width-35p {
    width: 35%;
}

.width-100p-except-30px {
    width: calc(100% - 30px);
}

.width-100p-except-35px {
    width: calc(100% - 35px);
}

.width-100p-except-40px {
    width: calc(100% - 40px);
}

.width-100p-except-50px {
    width: calc(100% - 50px);
}

.width-100p-except-80px {
    width: calc(100% - 80px);
}

.width-100p-except-100px {
    width: calc(100% - 100px);
}

.height-100p {
    height: 100%;
}

.height-50p {
    height: 50%;
}

.border-box {
    box-sizing: border-box;
}

.font-size-dot-8rem {
    font-size: 0.8rem;
}

.table-row {
    display: table;
}

.table-row.row::after {
    display: inline;
    clear: non;
}

.table-row>.cell {
    float: none;
    display: table-cell;
}

.border-red {
    border: 3px solid red;
}

/* 라이브러리 - flex */
*>.flex {
    display: flex;
}

*>.flex-column-nowrap {
    display: flex;
    flex-flow: column nowrap;
}

*>.flex-grow-1 {
    flex-grow: 1;
}

*>.flex-jc-end {
    display: flex;
    justify-content: flex-end;
}

*>.flex-jc-start {
    display: flex;
    justify-content: flex-start;
}

*>.flex-jc-c {
    display: flex;
    justify-content: center;
}

*>.flex-jc-sb {
    display: flex;
    justify-content: space-between;
}

*>.flex-jc-sa {
    display: flex;
    justify-content: space-around;
}

*>.flex-ai-c {
    display: flex;
    align-items: center;
}

*>.flex-ai-end {
    display: flex;
    align-items: flex-end;
}

*>.flex-as-c {
    align-self: center;
}

*>.flex-row-nowrap {
    flex-direction: row;
    flex-wrap: nowrap;
}

*>.flex-row-wrap {
    flex-direction: row;
    flex-wrap: wrap;
}

*>.flex-ch-basis-0 {
    display: flex;
}

.flex-ch-basis-0>* {
    flex-basis: 0;
}

*>.flex-1-0-0 {
    flex: 1 0 0;
}

/* 커스텀 */
.con {
    width: 1900px;
}

.con-2 {
    width: 1152px;
    margin-left: auto;
    margin-right: auto;
}

.con-min-width {
    min-width: 1540px;
}

.main {
    position: relative;
}

.main>.top-bar {
      overflow:hidden;
}

.main .top-menu {
    background-color: transparent;
    position: absolute;
    z-index: 150;
    color: #fff;
    height: 70px;
    border-bottom: 1px solid #728185;
    width: 100%;
    white-space: nowrap;
}

.main .top-menu.active {
    background: #fff;
    color: #121212;
}

.main .top-menu::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #dfdfdf;
    display: none;
}

.main .top-menu.active::after {
    display: block;
}

/* 로고 */
.main .top-menu>.logo {
    width: 334px;
    height: 45px;
    margin-top: 10px;
    margin-left: 45px;
}

.main .top-menu>.logo>a {
    background: url(https://wjdtjdbsdlwldb.github.io/img1/blog/article/hana/logo.png) no-repeat;
    background-position: 0 -40px;
    width: 158px;
    height: 48px;
    display: block;
}

.main .top-menu.active>.logo>a {
    background-position: 0 0;
}

/* 메뉴박스 */
.main .top-menu>.menu-box>ul>li {
    position: relative;
}

.main .top-menu>.menu-box>ul>li:hover>a {
    text-decoration: underline;
}

.main .top-menu>.menu-box>ul>li>a {
    padding: 30px 65px;
    display: block;
    font-weight: 700;
}

.main .top-menu>.menu-box>ul>li>a::before {
    content: '';
    position: absolute;
    display: block;
    top: 1px;
    left: 50%;
    transform: translatex(-50%);
    background: #009591;
    width: 0%;
    height: 3px;
    transition: width .25s;
}

.main .top-menu.active>.menu-box>ul>li:hover>a::before {
    width: 94px;
}

.main .top-menu>.menu-box>.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    height: 0;
    opacity: 0;
    padding-top:-20px;
    transition: opacity .5s, padding-top .3s,  height .3s;
    z-index: -1;
    overflow: hidden;
}

.main .top-menu.active>.menu-box>.background {
    height: 396px;
    opacity: 1;
    padding-top:10px;
    transition: opacity .1s, padding-top .3s,  height .3s;
}

/* 2차메뉴 이미지 */
.main .top-menu>.menu-box>.background>.hana-img {
    max-width: 300px;
    height: 300px;
    position: relative;
    top: 80px;
    left: 12%;
    transition: top .7s;
}

.main .top-menu>.menu-box>.background>.hana-img>.img {
    background: url('https://wjdtjdbsdlwldb.github.io/img1/blog/article/hana/menu_bg.png') no-repeat;
    background-position: 0 300px;
    background-size: contain;
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    /*   transition-duration:1s;  */
}

.main .top-menu.active>.menu-box>.background>.hana-img>.img {
    background-position: 0 1px;
    transition-duration: .5s;

}

/* 2차 메뉴 박스 */
.main .top-menu>.menu-box>ul>li>ul {
    text-align: center;
    padding-top: 20px;
    position: absolute;
    top: -1000px;
    left: 50%;
    transform: translatex(-50%);
    width: 100%;
    transition: top .01s;
}

.main .top-menu.active>.menu-box>ul>li ul {
    color: black;
    top: 100%;
}

.main .top-menu>.menu-box>ul ul>li>a {
    padding: 8px 0;
    display: block;
    font-size: 14px;
}

.main .top-menu>.menu-box>ul ul>li:hover>a {
    text-decoration: underline;
}

/* 3차메뉴 */

.main .top-menu>.menu-box ul ul>li>.sub {
    position: relative;
}

.main .top-menu>.menu-box ul ul>li>.sub::before {
    content: '';
    transform: rotate(90deg);
    display: block;
    position: absolute;
    right: 0;
    top: 16px;
    width: 7px;
    height: 1px;
    background: #14181F;
    transition: transform .3s;
}

.main .top-menu>.menu-box ul ul>li>.sub::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 16px;
    width: 7px;
    height: 1px;
    background: #14181F;
}

.main .top-menu>.menu-box ul ul>li.active>.sub::before {
    transform: rotate(0deg);
    transition: transform .3s;
}

.main .top-menu>.menu-box ul ul>li.active>.sub::after,
.main .top-menu>.menu-box ul ul>li.active>.sub::before {
    background-color: #ed1651;
}


.main .top-menu>.menu-box ul ul>li>.sub:hover::after,
.main .top-menu>.menu-box ul ul>li>.sub:hover::before {
    background-color: #ed1651;
}

.main .top-menu>.menu-box ul ul>li {
    position: relative;
}

.main .top-menu>.menu-box ul ul>li.active>ul {
    display: block;
}

.main .top-menu>.menu-box ul ul ul {
    width: 100%;
    display: none;
}


.main .top-menu>.menu-box ul ul ul>li>a {
    font-size: 13px;
    color: #009591;
    display: block;
}

/* 예약하기 버튼 */
.main .top-menu>.bor-box {
    margin-left: 60px;
}

.main .top-menu>.bor-box>a {
    border: 1px solid #fff;
    padding: 8px 15px;
    font-size: 13px;
    font-weight: bold;
}

.main .top-menu.active>.bor-box>a {
    border: 1px solid #009591;
    background: #009591;
    color: #fff;
}

.main .top-menu.active>.bor-box>a:hover {
    background: #fff;
    border: 1px solid #009591;
    color: #009591;
}

/* 언어선택박스 */

.main .top-menu>.bor-box>.lan {
    margin: 0 40px;
}

.main .top-menu>.bor-box>.lan>li>a {
    padding: 0 15px;
    position: relative;
    display: block;
    font-size: 12px;
}

.main .top-menu>.bor-box>.lan>li>a:hover {
    text-decoration: underline;
}

.main .top-menu>.bor-box>.lan>li:first-child>a::after {
    content: '';
    height: 12px;
    width: 1px;
    background: #fff;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translatey(-50%);
}

.main .top-menu.active>.bor-box>.lan>li:first-child>a::after {
    background: black;
}

/* 메인 배너 동영상 */
.main>.bn-box>.video-box {
    min-width: 1530px;
    overflow: hidden;
}

.main>.bn-box>.video-box>.vd {
    width: 100%;
    height: 100%;
}

.main>.bn-box>.video-box>.vd>video {
    display: block;
    width: 100%;
}

.main>.bn-box>.video-box>.vd>img {
    display: block;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translatex(-50%);
}

/* 콘텐츠 박스 */
.bn-box>.intro {
    background: #f2f2f2;
}

.bn-box>.intro>.inner {
    overflow: hidden;
    background: url(https://wjdtjdbsdlwldb.github.io/img1/blog/article/hana/contents_bg.jpg) repeat-y;
    height: 1206px;
    position: relative;
}

.bn-box>.intro>.inner>h2 {
    font-size: 38px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    left: 50%;
    top: -801px;
    margin-left: -130px;
    margin-bottom: 40px;
    width: 270px;
    height: 50px;
    transition: top 3s, opacity 4s;
    opacity: 0;
    white-space: nowrap;
    font-family: 'HanaL';
}

.bn-box>.intro.active>.inner>h2 {
    top: 92px;
    opacity: 1;
}

.bn-box>.intro>.inner>ul>li {
    position: absolute;
    width: 383px;
    height: 709px;
    overflow: hidden;
    transition: top 3s, opacity 4s;
}

.bn-box>.intro>.inner>ul>li:nth-child(1) {
    top: 709px;
    left: 2px;
    opacity: 0;
}

.bn-box>.intro.active>.inner>ul>li:nth-child(1) {
    top: 343px;
    left: 1px;
    opacity: 1;

}

.bn-box>.intro>.inner>ul>li:nth-child(2) {
    top: -709px;
    left: 385px;
    opacity: 0;
}

.bn-box>.intro.active>.inner>ul>li:nth-child(2) {
    top: 193px;
    left: 385px;
    opacity: 1;
}

.bn-box>.intro>.inner>ul>li:nth-child(3) {
    top: 709px;
    left: 769px;
    opacity: 0;
}

.bn-box>.intro.active>.inner>ul>li:nth-child(3) {
    top: 273px;
    left: 769px;
    opacity: 1;
}

.bn-box>.intro>.inner>ul>li>a>span {
    font-size: 60px;
    line-height: 64px;
    height: 64px;
    display: block;
    font-weight: bold;
    color: #ddd;
    position: absolute;
    top: 650px;
    left: 0;
}

.bn-box>.intro>.inner>ul>li>a>img {
    transition: all 0.4s ease-in-out;
}

.bn-box>.intro>.inner>ul>li:hover>a>img {
    transition: all 0.4s ease-in-out;
    transform: scale(1.05);
}

/* 푸터 */
.main>.footer {
    width: 100%;
    background-color: #111;
    height: 308px;
    color: white;
    position: relative;
    min-width: 1530px;
}

.main>.footer>a>.footer-logo {
    background: url(https://wjdtjdbsdlwldb.github.io/img1/blog/article/hana/logo.png) no-repeat;
    background-position: 0 -40px;
    width: 158px;
    height: 40px;
    display: block;
    position: absolute;
    top: 60px;
    left: 20px;
    text-indent: -9999px;
}

.main>.footer>a>.kakao {
    background: url(https://wjdtjdbsdlwldb.github.io/img1/blog/article/hana/img_footer_sns_1.png) no-repeat 0;
    width: 31px;
    height: 31px;
    display: block;
    top: 140px;
    left: 60px;
    display: block;
    position: absolute;
    text-indent: -9999px;
}

.main>.footer>a>.sns2 {
    background: url(https://wjdtjdbsdlwldb.github.io/img1/blog/article/hana/img_footer_sns_2.png) no-repeat 0;
    position: absolute;
    width: 31px;
    height: 31px;
    display: block;
    left: 100px;
    top: 140px;
}

.main>.footer>.innerwarp {
    position: relative;
    width: 1152px;
    margin: 0 auto;
}

.main>.footer>.innerwarp>nav {
    width: 900px;
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
}

.main>.footer>.innerwarp>nav>ul {
    margin: 44px 56px 0 1px;
}

.main>.footer>.innerwarp>nav>ul>li {
    overflow: hidden;
    height: 52px;
    line-height: 52px;
}

.main>.footer>.innerwarp>nav>ul>li>a {
    font-size: 20px;
    color: #888888;
    width: 117px;
    display: block;
}

.main>.footer>.innerwarp>nav>ul>li>a:hover {
    color: #dfdfdf;
}

.main>.footer>.innerwarp>nav>ul ul>li {
    padding-right: 28px;
}

.main>.footer>.innerwarp>nav>ul ul>li>a {
    font-size: 14px;
    color: #888888;
}


/* 푸터 2차메뉴  */
.main>.footer>.innerwarp>.until {
    width: 330px;
    padding-top: 55px;
    position: absolute;
    top: 0;
    right: -10px;
    font-family: 'NanumBarunGothic', 'dotum';
    white-space: nowrap;
    letter-spacing: -1px;
}

.main>.footer>.innerwarp>.until>ul>li {
    padding-right: 30px;
    height: 28px;
    line-height: 28px;
    float: left;
}

.main>.footer>.innerwarp>.until ul>li>a>span {
    margin-left: 80px;
}

.main>.footer>.innerwarp>.until ul>li {
    position: relative;
}

.main>.footer>.innerwarp>.until>ul>li>a {
    font-size: 11px;
}

.main>.footer>.innerwarp>.until>ul>.two-mu {
    width: 155px;
}

.main>.footer>.innerwarp>.until>ul>.two-mu>a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    line-height: 28px;
    height: 28px;
    position: relative;
}

.main>.footer>.innerwarp>.until>ul>li:nth-child(3n) {
    padding-right: 0;
}


.main>.footer>.innerwarp>.until>ul>.two-mu>ul {
    position: absolute;
    background: #fff;
    width: 100%;
    color: #000;
    top: auto;
    bottom: 100%;
    overflow: auto;
    height: 394px;
    display: none;
}

.main>.footer>.innerwarp>.until>ul>.two-mu.active>ul {
    display: block;
}

.main>.footer>.innerwarp>.until>ul ul>li>a {
    font-size: 12px;
    margin-left: 10px;
    position: relative;
}

.main>.footer>.innerwarp>.until>ul>.two-mu.active>ul>li:hover {
    background: #dfdfdf;
}

.main>.footer>.innerwarp>.until>ul>.two-mu>a>span {
    background: url(https://wjdtjdbsdlwldb.github.io/img1/blog/article/hana/up_arrow.jpg) no-repeat;
    position: absolute;
    left: 55px;
    top: 12px;
    width: 10px;
    height: 10px;

}

.main>.footer>.innerwarp>.until::after {
    display: block;
    content: '';
    clear: both;
}

.main>.footer>.innerwarp>.copyright {
    color: #999999;
    font-size: 11px;
    position: absolute;
    top: 134px;
    right: 0px;
    font-family: 'NanumBarunGothic', 'dotum';
    white-space: nowrap;
}

.main>.footer>.innerwarp>.copyright>address {
    font-style: normal;
}

.main>.footer>.innerwarp>.copyright>span {
    letter-spacing: 1px;
}

/* 끝 푸터 정보보호 인증박스 */

.main>.footer>.innerwarp>.f-infor {
    position: absolute;
    width: 360px;
    top: 180px;
    right: 0;
    letter-spacing: -1px;
}

.main>.footer>.innerwarp>.f-infor>ul {
    margin-top: 15px;
}

.main>.footer>.innerwarp>.f-infor>ul>li>img {
    width: 32px;
    height: 32px;
    margin-top: 8px;
}

.main>.footer>.innerwarp>.f-infor>ul>li>span {
    display: inline-block;
    font-size: 11px;
    line-height: 17px;
    margin-left: 11px;
}
